{#{% extends 'base.html.twig' %}#}

{% block title %} Cékoakonmange?!{% endblock %}

{% block body %}

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand">C'est quoi qu'on mange ?</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a class="nav-link" href="{{ path('fos_user_security_logout') }}" target="_blank">Déconnexion</a>
                        {% else  %}
                            <a class="nav-link" href="{{ path('fos_user_security_login') }}" target="_blank">Connexion</a>
                        {% endif %}
                    </li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
                        <li>
                            <a class="nav-link" href="{{ path('fos_user_security_logout') }}" target="_blank">S'inscrire</a>
                        </li>
                    {% endif %}


                    <li class="nav-item">
                        <form action="" method="post">
                            <input type="hidden" name="refresh" value="refreshed">
                            <button value="refresh" class="btn btn-default" type="submit">Refresh</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"> dernière mise à jour : {{ lastUpdateToDisplay }} </a>
                    </li>
                    {#<li class="nav-item">#}
                      {#<a class="nav-link" href="contact.html">Contact</a>#}
                    {#</li>#}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url({{ asset('build/assets/img/tasteofparis.jpg') }})">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>C'est quoi qu'on mange aujourd'hui ?</h1>
                        <span class="subheading">Les plats du jour autour de Netapsys ce {{ weekDay }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

                {% for restaurant in restaurants %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <ul class="text-md-right">
                                <button id="like" class="btn btn-success" href="{{ path('fos_user_security_logout') }}" target="_blank">MIAM !</button>
                                <button id="dislike" class="btn btn-danger" href="{{ path('fos_user_security_logout') }}" target="_blank">BEURK !</button>
                            </ul>
                    {% endif %}
                <div class="post-preview">
                    <a href="{{ restaurant.url }}" target="_blank">
                        <h3 class="post-subtitle">
                        {% if restaurant.name != "Papa Ciccio" %}


                        <h3 class="post-title">
                            {{ restaurant.name }}
                        </h3>
                        <h4 class="post-subtitle">{{ restaurant.todayspecial }}
                            {% if restaurant.vegantodayspecial %}
                                {% set stringLength = restaurant.vegantodayspecial | length %}
                                {% if stringLength >= 4 %}
                                    <br><p style="color: #339933;">Vege friendly : {{ restaurant.vegantodayspecial }}</p>
                                {% endif %}

                            {% endif %}
                            {#Except div for Papa Ciccio#}
                            {% else %}
                                <h3 class="post-title">
                                    Papa Ciccio
                                </h3>
                                <h5>Les pâtes :</h5>
                                <p>Farfale, Fusilli, Penne, Spaghetti</p>
                                <h5>Les sauces :</h5>
                                <p>3 fromages<br/>
                                    Arrabiatta<br/>
                                    Aurora<br/>
                                    Bolognaise<br/>
                                    Carbonara Thon / Boeuf / Lardons / Pesto Verde<br/>
                                    Champignon crème<br/>
                                    Olive (sauce tomate)<br/>
                                    Pesto Verde / Rosso<br/>
                                    Piccantina<br/>
                                    Poulet Curry / Oignon / Poivre / Moutarde<br/>
                                    Poulet Méditerranéene (don't ask) / Champignons noirs<br/>
                                    Saumon crème</p>
                                <h5>Les fromages :</h5>
                                <p> Emmental, parmigiano</p>
                                <p>03 88 83 20 08</p>
                            {% endif %}
                            </h4>
                            <h5>{{ restaurant.price }}</h5>
                        </h3>


                    </a>
                    <p class="post-meta">Cuisiné par
                        <a href="#">Hungry bot.</a>
                        {#ce {{ weekDay }} à {{ restaurant.lastUpdate|date("g", "Europe/Paris") }}h{{ restaurant.lastUpdate|date("i", "Europe/Paris") }} -#}
                        Mis à jour : {{ lastUpdateToDisplay }} -

                        <a href="{{ restaurant.mappy }}" target="_blank" class="color:#1E90FF">
                            Voir la carte
                    <span class="fa-stack fa-lg color:#1E90FF">
                      <i class="fa fa fa-map-marker fa-stack-1x" aria-hidden="true"></i>
                    </span>
                        </a>
                    </p>
                </div>
                <hr>
                {% endfor %}


            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">

                        <li class="list-inline-item">
                            <a href="#">
                              <span class="fa-stack fa-lg" style="color: #0085A1;">
                                <i class="fa fa-cutlery fa-4x fa-fw"></i>
                                <i class="sr-only"></i>
                              </span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}

<script>

    $('#add-like').on('click', function(){
        var like = {
            like: $like.val(),
        };

        var dislike = {
            dislike: $dislike.val(),
        };


        $.ajax({
            type: 'POST',
            url: '/',
            data: like,
            success: function(like){
                $like.append('');
            }

        })
    });


</script>