<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Site de référencement de plats du jour pour Netapsys">
    <meta name="author" content="Sébastien STELTZLEN">
    <meta charset="utf-8">

    <title>{% block title %}C'est quoi qu'on mange ?{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}" type="text/css">
        <link href="{{ asset('https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic') }}" rel='stylesheet' type='text/css'>
        {#<link href="{{ asset('https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800') }}" rel='stylesheet' type='text/css' type="text/css>#}

    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
{% endblock %}
<script src="{{ asset('build/app.js') }}"></script>
<script src="{{ asset('build/clean-blog.js') }}"></script>
</body>
</html>
